/* ================== Text =================== */

.fz-h1 {
    font-size: 50px;
    line-height: 1.3;
    font-weight: 700;
}

.fz-h2 {
    color: #ffffff;
    // font-family: "Montserrat - Hairline";
    font-size: calc(60px * var(--font-scaler));
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1em;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    position: relative;
}

.fz-h3 {
    font-size: 30px;
    line-height: 1.3;
}

.fz-h3 {
    font-size: 20px;
    line-height: 1.3;
}

p {
    display: block;
    font-size: 14px;
    color: #000000;
    line-height: 1.2;
}