@font-face {
    font-family: 'Montserrat - Hairline';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local('Montserrat Hairline'), local('Montserrat-Hairline'),
        url(http://allfont.es/cache/fonts/montserrat-hairline_2c5c1d56419aab19913d7c7f93fee7f1.woff) format('woff'),
        url(http://allfont.es/cache/fonts/montserrat-hairline_2c5c1d56419aab19913d7c7f93fee7f1.ttf) format('truetype');
}
body {
    color: #222221;
    background: #fff;
    line-height: 1;
    font-family: 'Montserrat - Hairline';
    min-width: 320px;

    &.body-hidden {
        overflow: hidden;
    }

}

/* ================== General =================== */
.main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.container {
    width: 1370px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

section{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.bgi{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* ================== MEDIA =================== */
@media (max-width: 1199px) {

    .container {
        max-width: 964px;
    }

}

@media (max-width: 991px) {

    .container {
        max-width: 718px;
    }

}

@media (max-width: 767px) {

    .container {
        max-width: 579px;
        padding: 0 20px;
    }

}
