.header{
    position: fixed;
    left: 0;
    top: 40px;
    padding: 0 50px 0 120px;
    z-index: 100;
    width: 100%;
    height: 43px;

    &_wrap{
        width: 100%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_right{
        display: flex;
        align-items: center;
    }

    .logo{
        display: none;
        max-width: 150px;
    }

    .logo-light{
        display: block;
        max-width: 150px;
    }

    &.active{
        .logo{
            display: block;
        }
        .logo-light{
            display: none;
        }

        .hamburger{
            path{
                fill: #000;
            }
        }

        .contactUs{
            border: 2px solid #000;
            color: #000;

            @media (any-hover : hover){
                &:hover{
                    background: #000;
                    color: #fff;
                }
            }
        }
    }

    &.lastSection{
        .logo{
            display: block;
        }
        .logo-light{
            display: none;
        }

        .contactUs{
           display: none;
        }
    }

}

.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 26px;
}

#hamburger{
    cursor: pointer;
}

#hamburger-close{
    display: none;
}

.contactUs{
    color: #fff;
    width: 168px;
    height: 43px;
    margin-right: 58px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    transition: 0.2s;

    @media (any-hover : hover){
        &:hover{
            background: #fff;
            color: #000;
        }
    }
}

.modalMenu{
    position: fixed;
    width: 100%;
    max-width: 368px;
    height: 100vh;
    background: #fff;
    top: 0;
    right: 0;
    z-index: 101;
    padding: 100px 30px 70px;
    display: none;

    &-close{
        position: absolute;
        right: 40px;
        top: 40px;
        cursor: pointer;
    }

    &_wrap{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        span{
            color: #000;
            font-size: 20px;
            margin-bottom: 15px;
            display: block;
            transition: 0.2s;
            cursor: pointer;

            &:hover{
                color: #3ba1e4;
            }

            &.active{
                color: #3ba1e4;
            }
        }

    }

    &_contacts{
        margin-bottom: 40px;

        a{
            display: block;
            color: #000;
            text-align: center;
            font-size: 18px;
            margin-bottom: 10px;
            transition: 0.2s ease;

            &:hover{
                color: #3ba1e4;
            }

        }

    }

    &_socials{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

        a{
            display: block;
            margin: 0 6px;
            transition: 0.2s ease;

            svg{
                width: 40px;
                height: 40px;
            }

            &:hover{
                transform: scale(1.1);
            }
        }

    }

    &_firstText{
        margin-bottom: 40px;

        p{
            font-weight: 700;
            color: #000;
            font-weight: 300;
            font-size: 18px;
            text-align: center;
            display: block;
            margin-bottom: 10px;
        }

        a{
            color: #3ba1e4;
            font-size: 19px;
            font-weight: 700;
            text-align: center;
            display: block;
            width: fit-content;
            margin: 0 auto;
            font-family: 'Montserrat', sans-serif;

            &:hover{
                text-decoration: underline;
            }
        }

    }

    &_secondText{
        p{
            font-size: 16px;
            text-align: center;
            display: block;
            margin-bottom: 10px;
            font-weight: 300;
        }
    }

    &-privacy{
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        color: #000;
    }

}


/* ================== MEDIA =================== */
@media (max-width: 1619px) {

    .header{
        padding: 0 40px;
    }

    .modalMenu{
        padding-top: 60px;

        &_menu{
            margin-bottom: 30px;
        }

        &_contacts {
            margin-bottom: 30px;
        }

        &_socials{
            margin-bottom: 30px;
        }

    }

    .modalMenu-close{
        right: 20px;
        top: 20px;
    }

}

@media (max-width: 1199px) {

    .header{
        padding: 0 30px;
        top: 30px;
    }

}

@media (max-width: 991px) {

    .header{
        padding: 15px;
        top: 0px;
        background: #fff;
        box-shadow: 0 1px 4px #162526;
        height: auto;
    }

    .contactUs{
        border: 2px solid #000;
        color: #000;
        width: 148px;
        height: 34px;
        margin-right: 28px;
        font-size: 16px;
    }

    #hamburger{
        path{
            fill: #000;
        }
    }

    .modalMenu{
        max-width: none;
        z-index: 99;
        padding-top: 130px;
        overflow-y: scroll;
        padding-bottom: 70px;

        &-close{
            display: none;
        }

        &_wrap{
            justify-content: flex-start;
            height: auto;
        }

    }

}

@media (max-width: 600px) {
  .modalMenu {
    height: 100%;
  }
}
